<!DOCTYPE HTML>
<html>
	<head>
		<title>Houston Ummah</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/styles/normalize.css" />
		<link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	</head>
	<body>
      <div class="nav" id="myNav">
          <a href="/">Home</a>
          <a href="/feeds">Events</a>
          <a href="/weeklyEvents">Weekly Events</a>
          <a href="/iftar">Iftar</a>
          <a href="/about">About</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
              <i class="fa fa-bars"></i>
            </a>
      </div>
  </body>
</html>
