<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Houston Ummah</title>
  <link rel="stylesheet" href="/styles/normalize.css" />
  <link rel="stylesheet" href="/styles/about.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <!-- <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"> -->
  <%- include('partials/header') -%>

</head>
<body class="body">
  <div class="about">
    <h1 class="aboutTitle">About Us</h1>
  </div>

  <div class="description">
    <p class="welcome">Welcome to Houston Ummah, the comprehensive resource for all things Islamic in Houston. Our website is designed to provide the Muslim community in Houston with a user-friendly platform to access information about all Islamic events happening throughout the city.</p>
    <p>Houston is a vibrant city with a diverse Muslim community, and we recognize that there are many events happening across the city. However, finding information about these events in one place can be a challenge. This is why we created Houston Ummah - to bring together all the information you need in one convenient location.</p>
    <p>In addition, we also provide a platform for Masjids and organizations to promote their events and reach a wider audience. We believe that sharing information about these events is a form of good deeds, and we are proud to be part of this process.</p>
    <p>Our team regularly updates our website with new events, so make sure to check back often. We also encourage Masjids and organizations to reach out to us to create and verify their accounts, and start promoting their events to our community.</p>
    <p>Thank you for choosing Houston Ummah. We hope that our comprehensive resource helps you in your search for Islamic events in Houston.
    </p>
  </div>
 
  <%- include('partials/footer') -%>

</body>
</html>