<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Houston Ummah - Feeds</title>
  <link rel="stylesheet" href="/styles/feed.css">
  <link rel="stylesheet" href="/styles/normalize.css">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
  <%- include('partials/header') -%>

</head>
<body>

    <div class="userEvents">
      <% for(let i=0; i<event.length; i++) {%>
        <div class="event">                      
            <a href="/event/<%= event[i]._id%>">
              <img class="flyer" src="<%= event[i].image%>" >
            </a>
        </div>
      <% } %>
    </div>

	
<%- include('partials/footer') -%>
</body>
</html>


