<!DOCTYPE HTML>
<html>
	<head>
		<title>Houston Ummah</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="asset/css/main.css" />
		<link rel="stylesheet" href="/styles/carousel.css">
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<section id="header" class="wrapper">
					<!-- Logo -->
						<div id="logo">
							<h1><a href="/">Houston Ummah</a></h1>
						</div>
					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li class="current"><a href="/">Home</a></li>
								<li><a href="/feeds">Events</a></li>
								<li><a href="/weeklyEvents">Weekly Events</a></li>
								<li><a href="/about">About</a></li>
							</ul>
						</nav>
				</section>

			<!-- Main -->
			<section id="main" class="wrapper style2">
				<div class="title"><a href="/weeklyEvents">Weekly Events</a></div>


				<!-- Container for the image gallery -->
				<div class="container">

					<!-- Full-width images with number text -->
					<div class="mySlides">
						<div class="numbertext">1 / 6</div>
							<img src="weekly-flyer/plus1.JPG" style="width:100%">
					</div>

					<div class="mySlides">
						<div class="numbertext">2 / 6</div>
							<img src="weekly-flyer/fiqh-series.JPG" style="width:100%">
					</div>

					<div class="mySlides">
						<div class="numbertext">3 / 6</div>
							<img src="weekly-flyer/FNL.jpg" style="width:100%">
					</div>

					<div class="mySlides">
						<div class="numbertext">4 / 6</div>
							<img src="weekly-flyer/maryam.jpg" style="width:100%">
					</div>

					<div class="mySlides">
						<div class="numbertext">5 / 6</div>
							<img src="weekly-flyer/tajweed.jpg" style="width:100%">
					</div>

					<div class="mySlides">
						<div class="numbertext">6 / 6</div>
							<img src="weekly-flyer/sh.ammar's-uhmsa-class.jpg" style="width:100%">
					</div>

					<!-- Next and previous buttons -->
					<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
					<a class="next" onclick="plusSlides(1)">&#10095;</a>

					<!-- Image text -->
					<div class="caption-container">
						<p id="caption"></p>
					</div>

					<!-- Thumbnail images -->
					<div class="row">
						<div class="column">
							<img class="demo cursor" src="weekly-flyer/plus1.JPG" style="width:100%" onclick="currentSlide(1)" alt="Plus1">
						</div>
						<div class="column">
							<img class="demo cursor" src="weekly-flyer/fiqh-series.JPG" style="width:100%" onclick="currentSlide(2)" alt="Fiqh Series">
						</div>
						<div class="column">
							<img class="demo cursor" src="weekly-flyer/FNL.jpg" style="width:100%" onclick="currentSlide(3)" alt="Friday Night Lights">
						</div>
						<div class="column">
							<img class="demo cursor" src="weekly-flyer/maryam.jpg" style="width:100%" onclick="currentSlide(4)" alt="Light of Knowledge">
						</div>
						<div class="column">
							<img class="demo cursor" src="weekly-flyer/tajweed.jpg" style="width:100%" onclick="currentSlide(5)" alt="Tajweed Institute">
						</div>
						<div class="column">
							<img class="demo cursor" src="weekly-flyer/sh.ammar's-uhmsa-class.jpg" style="width:100%" onclick="currentSlide(6)" alt="Shaykh Ammar's UHMSA Class">
						</div>
					</div>
				</div>

				<section id="intro">
					<div class="container">
						<ul class="actions">
							<li><a href="/weeklyEvents" class="button style3 large">More...</a></li>
						</ul>
					</div>
				</section>
			</section> 


			<!-- Footer -->
				<section id="footer" class="wrapper">
					<div class="title">Contact Us</div>
					<div class="container">
						<header class="style1">
							<p>We welcome the opportunity to feature your events on our website and help you promote <br> them to our community. To get started, please reach out to us so we can help you create <br> and verify your account. Once your account is set up, you'll be able to easily post and <br> share information about your events with our audience. Thank you for considering <br> Houston Ummah, and we look forward to working with you to promote Islamic events in <br> Houston.
							</p>
						</header>
						<div class="row">
							<div class="col-6 col-12-medium">

								<!-- Contact Form -->
								<section class="feature-list small">
									<div class="row">
										<form method="post" action="#">
											<div class="row gtr-50">
												<div class="col-6 col-12-small">
													<input type="text" name="name" id="contact-name" placeholder="Name/Organization Name" />
												</div>
												<div class="col-6 col-12-small">
													<input type="text" name="email" id="contact-email" placeholder="Email" />
												</div>
												<div class="col-12">
													<textarea name="about" id="about" placeholder="about" rows="4"></textarea>
												</div>
												<div class="col-12">
													<ul class="actions">
														<li><input type="submit" class="style1" value="Send" /></li>
														<li><a id="login-design" href="/login">LOGIN</a> </li>
													</ul>
												</div>
											</div>
										</form>
									</div>
									</section>

							</div>
							<div class="col-6 col-12-medium">

								<!-- Contact -->
									<section class="feature-list small">
										<div class="row">
											<div class="col-6 col-12-small">
												<section>
													<h3 class="icon solid fa-comment">Social</h3>
													<p>
														<a target="_blank" href="https://www.instagram.com/houstonummah/" class="icon brands fa-instagram"><span class="label">Instagram</span></a>
													</p>
												</section>
											</div>
											<div class="col-6 col-12-small">
												<section>
													<h3 class="icon solid fa-envelope">Email</h3>
													<p>
														<a href="#">HoustonUmmah01@gmail.com</a>
													</p>
												</section>
											</div>
										</div>
									</section>

							</div>
						</div>
					</div>
				</section>

		</div>

		<!-- Scripts -->
			<script src="asset/js/jquery.min.js"></script>
			<script src="asset/js/jquery.dropotron.min.js"></script>
			<script src="asset/js/browser.min.js"></script>
			<script src="asset/js/breakpoints.min.js"></script>
			<script src="asset/js/util.js"></script>
			<script src="asset/js/main.js"></script>
			<script src="/js/carousel.js"></script>
	</body>
</html>