<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Houston-Ummah: Login</title>
  <link rel="stylesheet" href="/styles/signup-login.css">
  <%- include('partials/header') -%>

</head>
<body>
  <div class="login-page">
    <div class="form">
      <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
        <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %> <% } %> <% if (locals.messages.info) { %> <%
        messages.info.forEach( el => { %>
        <div class="alert alert-info"><%= el.msg %></div>
        <% }) %> <% } %>
      <form class="login-form" action="/login" method="POST">
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" placeholder="Email"/>
        <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password"/>
        <button type="submit">login</button>
      </form>
    </div>
  </div>
  <!-- partial -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <%- include('partials/footer') -%>

</body>
</html>
