<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Houston-Ummah: Signup</title>
  <link rel="stylesheet" href="/styles/signup-login.css">
  <%- include('partials/header') -%>


</head>
<body>
<div class="login-page">
  <div class="form">
    <% if (locals.messages.errors) { %>
      <% messages.errors.forEach( el => { %>
          <div class="alert alert-danger"><%= el.msg %></div>
      <% }) %>    
  <% } %>
  <% if (locals.messages.info) { %>
      <% messages.info.forEach( el => { %>
          <div class="alert alert-info"><%= el.msg %></div>
      <% }) %>    
  <% } %>
    <form class="register-form" action="/signup" method="POST">
      <input type="text" class="form-control" id="userName" name="userName" placeholder="User Name">
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" placeholder="Email Adress">
      <input type="password" class="form-control" id="password" name="password" placeholder="Password">
      <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password">
      <button type="submit">create</button>
    </form>
  </div>
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="./script.js"></script>
<%- include('partials/footer') -%>

</body>
</html>