<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weekly Events</title>
  <link rel="stylesheet" href="styles/Weekly.css">
  <link rel="stylesheet" href="styles/normalize.css">
</head>
<body>
  <h1><a href="/">Weekly Events</a></h1>

  <div class="container">
    <h2>Monday</h2>
    <!-- <div class="flex">
      <div class="">
        <img src="images/fulls/12.jpg"  alt="">
        <img src="images/fulls/12.jpg"  alt="">
        <img src="images/fulls/12.jpg"  alt="">
      </div>      -->
      <div class="grid4">
        <div class="profile">
            <img class="profile-picture" src="images/fulls/14.JPG"  alt=""> 
            <p class="name">
              Oliver
            </p>
            <div class="mutual-friends-row">
                <img class="mutual-friend-picture" src="images/fulls/12.jpg"  alt="">
                <p class="mutual-friends">
                  2 mutual friends
                </p>
            </div>
              <button>Add Friend</button>
        </div>
    
        <div class="container">
          <img class="post-picture" src="images/fulls/19.JPG"  alt="">
          <p class="name">Mimi</p>
          <div class="mut-grid">
            <img class="prof-pic" src="img/dog2.jpeg" alt="">
            <p class="mutual">3 mutual friends</p>
          </div>
          <button>Add Friend</button>
        </div>
      
      <div class="container1">
        <img class="picture" src="images/fulls/12.jpg" " alt="">     
        <p class="name">Rex</p>
        <div class="mutual-grid">
          <img class="small-picture" src="img/dog2.jpeg" alt="">
          <p class="mutuals">4 mutual friends</p>
        </div>
      </div>
    </body>
  </div>

  <div class="container">
    <h2>Tuesday</h2>
    <!-- <div>
      <img src="images/fulls/12.jpg"  alt="">
      <img src="images/fulls/12.jpg"  alt="">
      <img src="images/fulls/12.jpg"  alt="">
    </div> -->
    <div class="grid4">
      <div class="profile">
          <img class="profile-picture" src="images/fulls/14.JPG"  alt=""> 
          <p class="name">
            Oliver
          </p>
          <div class="mutual-friends-row">
              <img class="mutual-friend-picture" src="images/fulls/12.jpg"  alt="">
              <p class="mutual-friends">
                2 mutual friends
              </p>
          </div>
            <button>Add Friend</button>
      </div>
    </div>
  </div>   

  <!-- <div class="grid4">
    <div class="profile">
        <img class="profile-picture" src="images/fulls/14.JPG"  alt=""> 
        <p class="name">
          Oliver
        </p>
        <div class="mutual-friends-row">
            <img class="mutual-friend-picture" src="images/fulls/12.jpg"  alt="">
            <p class="mutual-friends">
              2 mutual friends
            </p>
        </div>
          <button>Add Friend</button>
    </div>

    <div class="container">
      <img class="post-picture" src="images/fulls/19.JPG"  alt="">
      <p class="name">Mimi</p>
      <div class="mut-grid">
        <img class="prof-pic" src="img/dog2.jpeg" alt="">
        <p class="mutual">3 mutual friends</p>
      </div>
      <button>Add Friend</button>
    </div>
  
  <div class="container1">
    <img class="picture" src="images/fulls/12.jpg" " alt="">     
    <p class="name">Rex</p>
    <div class="mutual-grid">
      <img class="small-picture" src="img/dog2.jpeg" alt="">
      <p class="mutuals">4 mutual friends</p>
    </div>
  </div> -->
</body>
</html>