<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weekly Events</title>
  <link rel="stylesheet" href="/styles/weekly.css">
  <link rel="stylesheet" href="/styles/normalize.css">
  <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>

  <%- include('partials/header') -%>

</head>
<body>
  
  <h1><a href="/">Weekly Events</a></h1>

<div class="container">
  <div class="layout">
    <div class="row-day">
      <h2 class="dayOfWeek">Monday</h2>
    </div>
    <div class="row-event">
        <div class="event">
        <h2 class="dayOfWeek">Nothing yet...</h2>
        </div>
    </div>
  </div>

  <div class="layout">
    <div class="row-day">
      <h2 class="dayOfWeek">Tuesday</h2>
    </div>
    <div class="row-event">
        <div class="event">
            <img class= "flyer" src="weekly-flyer/plus1.JPG"  alt="">
            <button id="toggle">Try it</button>
            <div id="myInfo">
              <div class="info">
                <p class="name">Plus One</p>
                <p class="caption">Don’t forget to bring a friend, introduce them to others, and prepare your shout outs for this evening!</p>
              </div>       
            </div>
        </div>
       <div class="event">
            <img class="flyer" src="weekly-flyer/maryam.jpg"  alt="">
              <!-- <div class="info">
                <p class="name">Plus One</p>
                <p class="caption">Don’t forget to bring a friend, introduce them to others, and prepare your shout outs for this evening!</p>
              </div>        -->
      </div> 
    </div>
  </div>

  <div class="layout">
    <div class="row-day">
      <h2 class="dayOfWeek">Wednesday</h2>
    </div>
    <div class="row-event">
      <div class="event">
        <img class="flyer" src="weekly-flyer/sh.ammar's-uhmsa-class.jpg"  alt="">
          <!-- <div class="info">
            <p class="name">UHMSA</p>
            <p class="caption">Alhamdulillah we are back with one of MSA's most prized possessions, classes with Sh. Ammar!</p>
          </div>         -->
      </div>
      <div class="event">
        <img class="flyer" src="weekly-flyer/tajweed.jpg"  alt="">
          <!-- <div class="info">
            <p class="name">Tajweed Institute</p>
            <p class="caption">Tajweed Institute presents Weekly Lectures after Isha!
              <br>
              • Wednesdays: Dr. Ra'ed Alrosan will discuss Tajweed Rules
              <br>
              Join us to expand your knowledge!</p>
          </div>         -->
      </div>
    </div>
  </div>

  <div class="layout">
    <div class="row-day">
      <h2 class="dayOfWeek">Thursday</h2>
    </div>
    <div class="row-event">
        <div class="event">
          <img class="flyer"  src="weekly-flyer/fiqh-series.jpg"  alt="">
        </div>
        <!-- <div class="info">
          <p class="name">Suhbah Institute</p>
          <p class="caption">Suhbah.com/fiqhseries - So excited to announce our NEW and FREE weekly recurring halaqa at Suhbah open to the public! Starting February 2nd
            <br>
            Join us EVERY Thursday after Isha (8pm CST) for a dive into the world of Fiqh (practical laws and applications) in our new Fiqh Series with Shaykh Abdullah Ashraf!</p>
        </div> -->
        <div class="event">
          <img class="flyer"  src="weekly-flyer/thursday-tafseer.jpg" alt="">
          <!-- <div class="info">
            <p class="name">Hamd Institute</p>
            <p class="caption">We are excited to resume our community Thursday Tafseer program. As the month of Ramadan comes each speaker will dive in a unique style going over certain passage or surah of the Quran.
              <br>
              Join us every Thursday for 6 weeks starting January 19th after isha. Bring your family and friends. RSVP: hamdinstitute.org/events</p>
          </div> -->
        </div>
       <div class="event">
        <img class="flyer"  src="weekly-flyer/maryam.jpg"  alt="">
        <!-- <div class="info">
          <p class="name">Maryam Islamic Center</p>
          <p class="caption">Join us every Thursday to discuss Islamic Financial Literacy; understanding the key principles of Islamic finance, and how to apply them in today's world. Discover how to use Islamic financial principles to practice responsible spending and investing!</p>
        </div> -->
      </div>
  </div>
</div>

  <div class="layout">
    <div class="row-day">
      <h2 class="dayOfWeek">Friday</h2>
    </div>
    <div class="row-event">
        <div class="event">
          <img class="flyer" src="weekly-flyer/FNL.jpg"  alt="">
          <!-- <div class="info">
            <p class="name">CLIC</p>
            <p class="caption">Come join us every Friday night for some great conversation, laughs, and worship! Families are always welcome, so bring the kiddos. We have FREE babysitting. You can watch online or join us in person. Also, if you want to hear a particular topic or question discussed, leave it in the comments below! See you there InshaAllah!</p>
          </div> -->
        </div>
    </div>
  </div>

  <div class="layout">
    <div class="row-day">
      <h2 class="dayOfWeek">Saturday</h2>
    </div>
    <div class="row-event">
        <div class="event">
          <img class="flyer" src="weekly-flyer/tajweed.jpg"  alt="">
        </div>
        <!-- <div class="info">
          <p class="name">Tajweed Institute</p>
          <p class="caption">Tajweed Institute presents Weekly Lectures after Isha!
            <br>
            • Saturdays: Sheikh Mikael will talk about The Building Blocks of a Muslim
            <br>
            Join us to expand your knowledge!</p>
        </div> -->
    </div>
  </div>

  <div class="layout">
    <div class="row-day">
      <h2 class="dayOfWeek">Sunday</h2>
    </div>
    <div class="row-event">
        <div class="event">
          <img class="flyer" src="weekly-flyer/tajweed.jpg"  alt="">
          <!-- <div class="info">
            <p class="name">Tajweed Institute</p>
            <p class="caption">Tajweed Institute presents Weekly Lectures after Isha!
              <br>
              • Sundays: Sheikh Kassim will be going over Seerah
              <br>
              Join us to expand your knowledge! </p>
          </div> -->
        </div>
    </div>
  </div>
</div>


<%- include('partials/footer') -%>
<script src="/js/toggle.js"></script>


</body>
</html>