

/* Page Wrapper */

.body{
  background-color: #ECF1F1;
  /* font-family: Roboto, sans-serif, Arial, Helvetica; */
  font-family: Source Sans Pro, sans-serif, Arial, Helvetica; ;
}

.about{
  margin-top: 1.25em;
  margin-bottom: .75em;
  border-bottom: 1px solid;
  padding: 14px 40px;
  text-align: center;
  
}

.aboutTitle{
  color: gray;
}

.description{
  margin-top: 1.25em;
  margin-bottom: .75em;
  border-bottom: 1px solid;
  padding: 14px 40px;
  text-align: center;

}

p{
  font-size: 1.2rem;
  color: #24242488;
  
}
.welcome{
  font-size: 1.6rem;
  color: black;
}