

/* Page Wrapper */

body{
  /* background-color: gray; */
  font-family: Roboto, sans-serif, Arial, Helvetica;
}

.about{
  margin-top: 1.25em;
  margin-bottom: .75em;
  border-bottom: 1px solid;
  padding: 14px 40px;
  
}

.aboutTitle{
  color: gray;
}

.description{
  margin-top: 1.25em;
  margin-bottom: .75em;
  border-bottom: 1px solid;
  padding: 14px 40px;
  
}

p{
  font-size: 1.2rem;
}
.welcome{
  font-size: 1.2rem;
  line-height: 20px;
}