body, html {
  height: 100%;
}

/* The hero image */
.hero-image {
/* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/image/banner5.png");

/* Set a specific height */
height: 40%;

/* Position and center the image to scale nicely on all screens */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

/* Place text in the middle of the image */
.hero-text {
text-align: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
font-weight: 900;
text-transform: uppercase;
color: #fff;
font-size: 1em;
letter-spacing: 0.25em;
}

a:hover{
  text-decoration: none;
  /* color: #fff; */

}

.homeTitle a{
    color: #fff;
    text-decoration: none;

}

.wrapper {
  position: relative;
  /* padding: 6em 0 9em 0; */
  padding-top: 3em;

}

  .wrapper .title {
    position: absolute;
    top: 0;
    left: 50%;
    text-align: center;
    text-transform: uppercase;
    display: block;
    font-weight: 700;
    letter-spacing: 0.25em;
    font-size: 0.9em;
    width: 25em;
    height: 3.25em;
    top: -3.25em;
    line-height: 3.25em;
    margin-bottom: -3.25em;
    margin-left: -12.5em;
    padding-top: 0.5em;
  }

.wrapper.style2 {
  background: #fff;
}


/* .wrapper.style{ 
background: #282b34 
} */

  .wrapper.style2 .title {
    background: #fff;
    color: #484d55;
  }

  .title a{
    color:rgba(0, 0, 0, 0.5);  
  /* color: white; */
  }


/* Carousel */
.container {
  position: relative;
  overflow: hidden;
  padding: 20px;
}

.carousel-container {
  padding: 0 4rem;
  /* padding: 0; */
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

/* .carousel-container::-webkit-scrollbar {
  display: none;
} */

.carousel-card {
  /* flex: 0 0 auto;
  display: flex; */
  /* width: 350px; */
  /* height: 400px; */
}

.carousel-image {
  flex: 0 0 auto;
  display: flex;
  position: relative;
  width: 350px;
  height: 400px;
  /* width: 100%; */
  /* height: 350px; */
  overflow: hidden;
  margin-right: 40px;

}

.carousel-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

/* .collection-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.collection {
  position: relative;
}

.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
} */

/* .collection:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 10px;
} */

#more {
  margin-top: 2em;
  padding-bottom: 4em;
  text-align: center;
}

.btn-more{
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.25em;
  text-decoration: none;
  border-radius: 0.35em;
  border: 0;
  outline: 0;
  cursor: pointer;
  padding: 0 2.25em 0 2.25em;
  font-size: 0.9em;
  min-width: 12em;
  height: 4em;
  line-height: 4em;
}

.style1{
  background: #2f333b;
}

.style2{
  background: #e97770;
}
.btn-more a{
  text-decoration: none;
  font-family: Roboto;
  color: #fff;
  font-size: 1em;

}

.iftar{ 
  color: white;
}

#footer {
  background: #282b34;
  color: #eee;
  color: rgba(255, 255, 255, 0.5);
  padding-bottom: 6em;
}

.wrapper.style .title {
  background: #282b34;
  color: #fff;
}
.title1 a{
color: white;
}

.feature-list {
  max-width: 58em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 0.75em;
}

.feature-list section {
  border-top: solid 1px #eee;
  padding-top: 3em;
  padding-left: 5em;
  position: relative;
}

.feature-list.small section {
  padding-left: 3.5em;
}

.feature-list.small h3:before {
  font-size: 0.8em;
}

.row {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: stretch;
}

.row > .col-6 {
  width: 50%;
}

/* Icons */
.icon {
  text-decoration: none;
  text-decoration: none;
  padding: 10px;
  background-color: #3d4249;
  border-radius: 50%;
  color: #eee;
  font-size: 16px;
  margin-right: 20px;
}

.social{
  color: #e97770;
  margin: -0.35em 0 0.75em 0;
    font-size: 1.15em;
    letter-spacing: 0.05em;
}

.ig-logo{
  text-decoration: none;
  color: white;
  margin-left: 60px;
}

.email{
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
}


@media screen and (max-width: 736px) {
  /* Carousel */
  .container {
    padding: 0px;
  }

  .carousel-container {
    padding: 0 1em;
  }

  .carousel-image {
    width: 300px;
    height: 300px;
    margin-right: 5px;
  }

  .row > .col-12-small {
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  /* Carousel */
  .carousel-image {
    width: 250px;
    height: 250px;
    margin-right: 5px;
  }

}

@media screen and (max-width: 530px) {
  /* Carousel */
  .carousel-image {
    width: 200px;
    height: 200px;
    margin-right: 5px;
  }

}


@media screen and (max-width: 400px) {
  /* Carousel */
  .carousel-image {
    width: 350px;
    height: 350px;
    margin-right: 5px;
  }
  
}