

/* Page Wrapper */

body{
  /* background-color: gray; */
  font-family: Roboto, sans-serif, Arial, Helvetica;
  margin: 0;
  padding: 0;
}

  .container{
    margin: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    height: auto;
    padding-top: 5px;

  }

 .center{
  text-align: center;
  margin-bottom: 20px;
} 

 .name{
  font-size: 2em;
  color: #2c3345;
 }

 .layout{
  /* border: 1px solid red; */
  display: flex;
 }

 .userEvents{
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  margin-right: .75em;
  margin-bottom: .75em;
  padding: 0.75em;
  justify-content: center;
  vertical-align: middle;
 }

 .event{
  width: 32%;
  margin-right: 3px;
  margin-bottom: 10px;
 }

 .flyer{
  object-fit: cover;
  height: auto;
  width: 100%;
}

 .submit, .layout {
  margin-top: 1.25em;
  margin-bottom: .75em;
  border-bottom: 1px solid;
 }

 .submit{
  padding: 14px 40px;

 }

 .post-event{
  margin: 0;
  font-size: 2em;
  color: #2c3345;
 }

  .submit-info{
  color: #57647e;
}

.form{
  display: block;
  width: 30%;
  margin: 14px 20px;
}

.form-line{
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

span{
	display: block;
  margin: 10px 0;
  font-weight: 700;
  font-size: 16px;
}

.form-title{
  padding: 10px 5px;
  width: 80%;
}

.form-textarea{
  padding: 10px;
  width: 80%;
  height: auto;
}

.form-file{
  font: 1rem/1.5 "PT Sans", Arial, sans-serif;
  color: #5a5a5a;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  width: 80%;
  padding: 3px;
}

button{
  padding: 10px 30px;
  border-radius: 4px;
  background-color: aquamarine;
  border: none;
  font-size: 18px;
  margin-bottom: 20px;
}

button a{
  font-size: 20px;
  text-decoration: none;
  color: black;
}

#footer{
  text-align: center;
  margin: 2rem 0;
}

@media screen and (max-width: 1000px) {
  .container{
    margin: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    height: auto;
    padding-top: 2px;
  }

  .center{
    margin-bottom: 10px;
  } 

  .submit{
    padding: 10px 30px;
  }

  .submit, .layout {
    margin-top: 1em;
    margin-bottom: .75em;
    border-bottom: 1px solid;
  }

  .layout{
    display: flex;
  }

  .form{
    display: block;
    width: 30%;
    margin: 14px 20px;
  }

  .form-line{
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  span{
    display: block;
    margin: 8px 0;
    font-weight: 600;
    font-size: 14px;
  }

  .form-title{
    padding: 8px 3px;
    width: 80%;
  }

  .form-textarea{
    padding: 8px;
    width: 80%;
    height: auto;
  }

  .form-file{
    font: 14px;
    width: 80%;
  }

  .event{
    width: 50%;
    margin-right: 0;
    margin-bottom: 0;
  }

  button{
    margin-bottom: 10px;
    padding: 8px 25px;
    border-radius: 4px;
    font-size: 16px;
  }

  button a{
    font-size: 18px;
    text-decoration: none;
  }
}

@media screen and (max-width: 750px) {
  .center{
    margin-bottom: 5px;
  } 

  .name, .post-event{
    font-size: 1.5em;
  }

  .submit{
    padding: 8px 25px;
  }

  .submit, .layout, .userEvents {
    margin-top: 1em;
    margin-bottom: .75em;
    border-bottom: 1px solid;
  }

  .layout{
    display: block;
  }

  .form{
    width: 100%;
    margin: 0;
    /* border-bottom: 1px solid; */
  }

   .form-title, .form-file, .form-textarea{
    width: 50%;
    margin: 0 20px;
  }

  .form-line{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  span{
    display: block;
    margin: 8px 20px;
    font-weight: 600;
    font-size: 18px;
  }

  .form-title{
    padding: 10px 5px;
  }

  .form-textarea{
    padding: 10px 5px;
    height: 100px;
  }

  .form-file{
    font: 18px;
  }

  .submitBtn{
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 20px;
  }

 .userEvents{
  width: 100%;
  padding: 0; 

  }

  .event{
    width: 50%;
    margin-right: 0;
  }

  button{
    margin-bottom: 10px;
    padding: 10px 30px;
    border-radius: 4px;
    font-size: 16px;
  }

  button a{
    font-size: 20px;
    text-decoration: none;
  }
}

@media screen and (max-width: 500px) {
  
  .center{
    margin-bottom: 5px;
  } 

  .name, .post-event{
    font-size: 1.5em;
  }

  .submit{
    padding: 8px 25px;
  }

  .submit, .layout {
    margin-top: 1em;
    margin-bottom: .75em;
    border-bottom: 1px solid;
  }

  .layout{
    display: block;
  }

  .form{
    width: 100%;
    margin: 0;
    /* border-bottom: 1px solid; */
  }

   .form-title, .form-file, .form-textarea{
    width: 50%;
    margin: 0 20px;
  }

  .form-line{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  span{
    display: block;
    margin: 8px 20px;
    font-weight: 600;
    font-size: 18px;
  }

  .form-title{
    padding: 10px 5px;
  }

  .form-textarea{
    padding: 10px 5px;
    height: 100px;
  }

  .form-file{
    font: 18px;
  }

  .submitBtn{
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 20px;
  }

 .userEvents{
  width: 100%;
  padding: 0; 

  }

  .event{
    width: 100%;
    margin-right: 0;
  }

  button{
    margin-bottom: 10px;
    padding: 6px 20px;
    border-radius: 4px;
    font-size: 16px;
  }

  button a{
    font-size: 18px;
    text-decoration: none;
  }

}

@media screen and (max-width: 400px) {
  .name, .post-event{
    font-size: 1.3em;
  }

  .submit{
    padding: 4px 20px;
  }

  .submit, .layout, .userEvents {
    margin-top: .5em;
    margin-bottom: .5em;
    border-bottom: 1px solid;
  }

   .form-title, .form-file, .form-textarea{
    width: 80%;
    margin: 0 20px;
  }

  .submitBtn{
    margin-left: 15px;
    margin-bottom: 15px;
    font-size: 16px;
  }

  button{
    margin-bottom: 10px;
    padding: 6px 20px;
    border-radius: 4px;
    font-size: 16px;
  }

  button a{
    font-size: 18px;
    text-decoration: none;
  }
}