
body{
  font-family: Roboto, sans-serif, Arial, Helvetica;
}

.container{
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  margin: 0 20px;
  justify-content: center;
  align-items: center;
  -webkit-overflow-scrolling: touch;
}

.layout{
  margin: 10px 10px 30px 10px;
  padding: 10px;
  height: auto;
  display: flex;
}

.row-day, .row-event{
  width: 50%;
}

.row-day{
  text-align: center;
  margin: auto;
}

.row-event{
  display: flex;
  flex-wrap: wrap;
  padding: 0 0.75em;
  justify-content: space-between;
  vertical-align: middle;
}

.event{
  height: auto;
  padding: 10px;
}

.flyer{
  display: block;
  object-fit: cover;
  height: 300px;
  width: 100%;
}

.dayOfWeek{
  font-weight: 900;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 0.25em;
  color: rgba(12, 12, 12, 0.75);
  text-decoration-line: underline;
}

.profile{
  position: relative;
  width: 30%;
  height: 450px;
  outline: 0;
  margin-right: 10px;
  /* box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.25); */
  margin-bottom: 10px;
  margin-top: 10px;
}

.profile .profile-picture{
  display: block;
  border: 0;
  outline: 0;
  object-fit: cover;
  height: 300px;
  width: 100%;
}
.profile .profile-picture img{
  display: block; 
  height: 100%;
  width: 100%; 
}
p{
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  color: rgb(0, 0, 0);
  margin-top: 10px;
  margin-left: 8px;
  margin-bottom: 5px;
}


.name {
  font-size: 18px;
  font-weight: bold;
  /* margin-top: 10px; */
  margin-left: 8px;
  margin-bottom: 5px;
  color: rgb(0, 0, 0);
}


h1 {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 0.25em;
  text-align: center;
  color: rgb(41, 41, 41);
}
a{
  color: rgb(0, 0, 0);
}

.info{
  height: 150px;
  text-align: center;
  background-color: transparent;
}

#myInfo{
  display: none;
}

.toggle{
  float: right;
}

@media screen and (max-width: 700px) {
  .layout{
    display: block;
  }

  .row-day, .row-event{
    width: 100%;
  }
  .row-event{
    /* border: 1px solid yellow; */
    display: block;
    padding: 0 0.75em;
    justify-content: space-between;
  
  }

  .flyer{
    display: block;
    object-fit: cover;
    height: auto;
    width: 100%;
  }
}